<div class="detail-wrapper">  
    <img 
    src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg" 
    alt="Starship image"
    onerror="this.src='https:\/\/starwars-visualguide.com/assets/img/big-placeholder.jpg'"
    >
    <h2>{{ detailData.name }}</h2>
    <p>{{ description }}</p>
    <div class="detail-grid">
        <span><span class="card-attribute">Model</span>→ {{ detailData.model }}</span>
        <span><span class="card-attribute">Manufacturer</span>→ {{ detailData.manufacturer }}</span>
        <span><span class="card-attribute">Cost in credits</span>→ {{ detailData.cost_in_credits }}</span>
        <span><span class="card-attribute">Length</span>→ {{ detailData.length }}</span>
        <span><span class="card-attribute">Atmospheric</span>→ {{ detailData.max_atmosphering_speed }}</span>
        <span><span class="card-attribute">Crew</span>→ {{ detailData.crew }}</span>
    </div>
    <br/><br/>

</div>

<div *ngIf="detailData.films?.length">
    <h2 [style.textAlign]="'center'">FILMS</h2>
    <div class="cards">
        <app-film *ngFor="let film of detailData.films" [filmUrl]="film">
            
        </app-film>
    </div>
</div>
