

<div class="upper-header">
    <section >
        <div class="galaxy">
           <div class="stars">
           </div>
       </div>
    </section>
    <img src="../../../assets/images/sw-logo.png" alt="Star Wars logo">
    <div>
        <span>LOG IN</span>
        <span [style.opacity]=".2">//</span>
        <span>SIGN UP</span>
    </div>
</div>
<div>
    <ul>
        <li [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
            HOME
        </li>
        <li [routerLink]="['/starships']" routerLinkActive="is-active">
            STARSHIPS
        </li>
    </ul>
</div>
