

<div class="upper-header">
    <section >
        <div class="galaxy">
           <div class="stars">
           </div>
       </div>
    </section>
    <img src="assets/images/sw-logo.png" alt="Star Wars logo">
    <div class="auth-container">
        <span class="login" [routerLink]="['/login']">LOGIN</span>
        <span [style.opacity]=".2">//</span>
        <span class="login" [routerLink]="['/signup']">SIGN UP</span>
    </div>
</div>
<div>
    <ul>
        <li [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
            HOME
        </li>
        <li [routerLink]="['/starships']" routerLinkActive="is-active">
            STARSHIPS
        </li>
        <li [routerLink]="['/characters']" routerLinkActive="is-active">
            CHARACTERS
        </li>
    </ul>
</div>
