<!-- Credits -->
<!-- Lorem ipsum generator SW style: https://forcemipsum.com/ -->
<!-- Creating SW intro effect: https://polarnotion.github.io/starwarsintro/-->

<div class="star-wars-intro">
  <!-- Blue Intro Text -->
  <p class="intro-text">DISCOVER THE DARK SIDE...</p>

  <!-- All Scrolling Content Goes in here -->
  <div class="main-content">
    <div class="title-content">
      <p class="content-header">EPISODES IV-VI<br />The adventure is coming</p>

      <br />

      <p class="content-body">
        Uh, I'm quite sure you'll be very pleased with that one, sir. He really
        is in first-class condition. I've worked with him before. Here he comes.
        Okay, let's go. Now, don't you forget this! Why I should stick my neck
        out for you is quite beyond my capacity! Thank the maker! This oil bath
        is going to feel so good. I've got such a bad case of dust
        contamination, I can barely move! It just isn't fair. Oh, Biggs is
        right. I'm never gonna get out of here! Is there anything I might do to
        help? Well, not unless you can alter time, speed up the harvest, or
        teleport me off this rock! I don't think so, sir.
      </p>
      <p class="content-body">
        Did you hear that? They've shut down the main reactor. We'll be
        destroyed for sure. This is madness! We're doomed! There'll be no escape
        for the Princess this time. What's that? Artoo! Artoo-Detoo, where are
        you? At last! Where have you been? They're heading in this direction.
        What are we going to do? We'll be sent to the spice mine of Kessel or
        smashed into who knows what! Wait a minute, where are you going?
      </p>

      <br />

      <h3>END</h3>
    </div>
  </div>
</div>
<div>
  <button class="primary-button" type="button" routerLink="/starships">Explore Starships</button>
</div>
